{% extends "ideas/base.html" %}
{% load crispy_forms_tags %}
{# Load the tag library #}
{% load bootstrap3 %}

{% block body %}
  <div class="row">
    <div class="col-sm-6">
      <h1>Add Idea</h1>
      <form action="{% url 'ideas:add' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a href="{% url 'ideas:index' %}">View Ideas</a>
    </div>
  </div>
{% endblock %}
